header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
}

.logo {
    width: 50%;

}

.nav {
    width: 50%;
    align-items: flex-end;
}

ul {
    padding: 1rem;
    display: flex;

}

li {
    padding: 0.5rem;
    list-style: none;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #282828;
}